@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Stamper Software Word Challenges!</h1>

<div>
    <ul>
        <li>
            <a href="/word-list">Word List</a>
        </li>
        <li>
            <a href="/word-knowledge">Word Test</a>
        </li>
    </ul>
</div>
