@inherits LayoutComponentBase
<div id="main-layout">
    <header>
        <a href="/">Home</a>
        <a href="/word-knowledge">Test</a>
        <a href="/word-list">List</a>
    </header>
    <div class="scrollable" id="main-body">
        <div id="side-menu">

        </div>
        <div id="main-content">
            @Body
        </div>

    </div>
    <footer>footer</footer>
</div>

